.popup-information {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 510;

  .popup-inner {
    position: relative;
    //padding: 32px;
    width: 90%;
    background-color: #242c3b;
    border-radius: 14px;

    .close-btn {
      position: absolute;
      bottom: -3rem;
      right: 50%;
      transform: translate(50%);
      background-color: transparent;
      border: none;
      i {
        font-size: 2.2rem;
         color: #ff512f;
         margin: 0;
       }
    }
    .Information {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      padding: 2.5rem;
      .title-info {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: var(--title);

        box-sizing: border-box;
        b {
          font-size: 26px;
        }
        i {
          color: var(--title);
          margin: 0 8px 0 0;
          font-size: 2rem;
        }
      }
      form {
        margin-top: 1.5rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        div {
          color: var(--title);
          margin-top: 1rem;
          label {
            font-weight: 300;
            font-size: 1rem;
            opacity: 0.8;
          }
          input,textarea  {
            font-weight: 500;
            font-size: 14px;            
            margin-top: 1rem;
            background-color: #242c3b;
            width: 100%;
            border: none;
            border-bottom: solid 1px var(--title);
            color: var(--title);
            i {
              color: var(--title);
              margin: 0;
              padding: 0;

              &::before {
                font-size: 1.5rem;
              }
            }
          }
          &:nth-child(2) {
            textarea {
              box-sizing: border-box;
              min-height: 8rem;
              background: none;
              border: solid 1px var(--title);
              padding: 1rem;
              line-height: 1.2rem;
              font-weight:lighter;
              opacity: 0.8;
            }
          }
        }
        button {
          width: 65%;
          text-align: center;
          margin: 0 auto;
          padding: 10px 0;
          margin-top: 1.5rem;
          border-radius: 7px;
          font-size: 1rem;
          font-weight: bold;
        }
      }
    }
  }
}
