.popup-list-movie {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 510;

  .popup-inner {
    position: relative;
    //padding: 32px;
    width: 95%;
    background-color: #242c3b;
    border-radius: 14px;
    border-radius: 7px 7px 0 0;
    .close-btn {
      position: absolute;
      bottom: -3.5rem;
      right: 50%;
      transform: translate(50%);
      background-color: transparent;
      border: none;
      i {
        font-size: 3rem;
        color: #ff512f;
      }
    }
    .info-cinima {
      height: 70px;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 1rem;
      padding-bottom: 0.5rem;
      line-height: 1.2rem;
      img {
        height: 70px;
        width: 120px;
      }
      .movie-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        margin-left: 10px;
        .movie-name {
          color: var(--title);
          font-size: 18px;
        }
        .movie-description {
          color: var(--title);
          opacity: 0.6;
          font-size: 14px;
        }
      }
      border-bottom: 1px solid var(--title);
    }
    .list-seats {
      margin: 1rem;
      .seats {
        display: grid;
        grid-template-columns: repeat(8, auto);
        grid-gap: 10px;
        align-items: center;
        justify-content: space-evenly;
        .seat {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          background-color: #fff;
          width: 30px;
          height: 25px;
          border-radius: 7px;
          span {
            font-weight: 900;
          }
        }
      }
      .seat-note {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 0.7rem;
        i {
          &:first-child {
            color: #02ff49;
          }
          &:last-child {
            color: #ff0202;
          }
        }
        .seat {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          background-color: #fff;
          width: 30px;
          height: 25px;
          border-radius: 7px;
          font-size: 0.7rem;
          &:nth-child(2) {
            background-color: #02ff49;
          }
          &:nth-child(4) {
            background-color: #ffe500;
          }
          &:nth-child(5) {
            background-color: #ff0202;
          }

          span {
            font-weight: 900;
          }
        }
      }
      .seat-select {
        margin-top: 1.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        b {
          color: var(--title);
        }
        span {
          color: #02ff49;
          margin-left: 5px;
        }
        .checkout {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          color: #fff;
          margin-top: 1rem;
          i {
            font-size: 3rem;
            color: #02ff49;
          }
        }
      }
    }
  }
}
