.popup-list-movie {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 510;

  .popup-inner {
    position: relative;
    //padding: 32px;
    width: 95%;
    background-color: #242c3b;
    border-radius: 14px;
    height: 70%;
    border-radius: 7px 7px 0 0;

    .close-btn {
      position: absolute;
      bottom: -3.5rem;
      right: 50%;
      transform: translate(50%);
      background-color: transparent;
      border: none;
      i {
        font-size: 3rem;
        color: #ff512f;
      }
    }
    .list-content {
      width: 100%;
      height: 100%;
      overflow: hidden;
      .info-cinima {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 0 5px 0;
        border-radius: 7px 7px 0 0;
        border-bottom: 1px solid var(--title);
        color: var(--title);
        line-height: 1.3rem;

        .name-cinima {
          font-size: 1rem;
          font-weight: 700;
        }
        .address-cinima {
          font-size: 12px;
          font-weight: 400;
          opacity: 0.8;
        }
      }
      .list-movies {
        box-sizing: border-box;
        //padding: 10px 0 0rem 10px;
        height: 100%;
        overflow-y: scroll;
        padding-bottom: 3.4rem;
        .movie-items {
          height: 70px;
          display: flex;
          flex-direction: row;
          align-items: center;
          margin: 1rem 0 1rem 1rem;
          line-height: 1.2rem;
          img {
            height: 70px;
            width: 120px;
          }
          .movie-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: left;
            margin-left: 10px;
            .movie-name {
              color: var(--title);
              font-size: 18px;
            }
            .movie-description {
              color: var(--title);
              opacity: 0.6;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
