.detail-movie {
  padding-bottom: 5rem;
  .detail {
    .img-detail {
      img {
        width: 100%;
      }
    }
    .group-btn {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      padding: 1rem 0 1rem 1rem;
      .play-trainler {
        background-color: #ff512f;
        padding: 10px;
        font-weight: 600;
        margin: 0 10px 0 0;
        color: #242c3b;
        i {
          margin-right: 5px;
          font-size: 1rem;
          margin-left: 0;
          color: #242c3b;
        }
      }
      i {
        font-size: 2.5rem;
        margin: 0 10px;
        color: #ff512f;
      }
    }
    .content-detail {
      padding: 0 15px;
      text-align: justify;
      line-height: 1.4rem;
      letter-spacing: 0.1px;
      color: #fff;
      opacity: 0.8;
      .title {
        font-size: 1.2rem;
        display: block;
        margin-bottom: 1rem;
      }
      .description {
        font-weight: 300;
        opacity: 0.6;
        font-size: 0.9rem;
      }
    }
    .cast-detail {
      margin-top: 1rem;
      padding: 0 15px;
      text-align: justify;
      line-height: 1.4rem;
      letter-spacing: 0.1px;
      color: #fff;
      opacity: 0.8;
      .title {
        font-size: 1.2rem;
        display: block;
        margin-bottom: 1rem;
      }
      .description {
        font-weight: 300;
        opacity: 0.6;
        font-size: 0.9rem;
      }
    }
  }
  .comment-movie {
    margin-top: 1rem;
    padding: 0 15px 15px 15px;
    border-bottom: solid 1px var(--title);
    color: #fff;
    .title {
      font-size: 1.2rem;
      display: block;
      margin-bottom: 1rem;
    }
    // .rating-star{
    //   background-color: #ff512f;
    // }
    .description {
      font-weight: 300;

      font-size: 0.9rem;
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        border-radius: 5px;
        padding: 10px;
        margin-left: 5px;
        background: #ff512f;
        color: #242c3b;
        font-weight: bold;
        border-color: #242c3b;
        // box-shadow: ;
      }
      input {
        width: 78%;
        padding: 10px;
        opacity: 0.8;
        &:focus {
          font-size: 1rem;
        }
      }
    }
  }
  .list-comment {
    margin-top: 1rem;
    border-bottom: solid 1px var(--title);
    padding: 0 0 15px 0;
    overflow-y: scroll;
    height: 300px;
    .comment {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      color: var(--title);
      box-sizing: border-box;
      box-shadow: rgba(99, 97, 97, 0.24) 0px 3px 8px;
      padding: 10px 15px 10px 15px;
      text-align: justify;
      line-break: anywhere;
      .gr-img {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
        i {
          color: gold;
          margin-top: 5px;
          font-size: 1.6rem;
          position: relative;
          .ranks {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 10px;
            z-index: 5;
            color: #ff512f;
            font-weight: bolder;
          }
        }
      }

      // &:nth-child(2n + 1) {
      //   flex-direction: row-reverse;
      //  text-align: right;
      // }
      .comment-content {
        font-weight: 200;
        font-size: 13px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        i {
          color: #fff;
          opacity: 0.6;
          font-size: 10px;
          margin-top: 2px;
        }
      }
      &:nth-child(2) {
        // color: #ff512f;
        font-weight: 600;
        font-size: 1rem;
      }
    }
  }
}
