.NewsMovie {
  padding-right: 0;
  .NewsMovie-Content {
    padding: 0 5px;
    .title {
      font-size: var(--f-title);
      font-weight: bold;
      color: var(--title);
      text-transform: capitalize;
    }
    .mySwiper {
      .SwiperSlide {
        width: 100px !important;
        height: 155px !important;
        .Img-NewsMovie {
          width: 100%;
          height: 100%;
          border-radius: 7px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
            rgba(0, 0, 0, 0.23) 0px 3px 6px;
        }
      }
    }
  }
}
